<!DOCTYPE html>
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-default  mb-3" id="reported-missed">
                <div class="card-header" style="background-color: navy;">
                    <h5 class="card-title" style="color: whitesmoke;">Declared</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{declared}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-default  mb-2" id="returned">
                <div class="card-header" style="background-color: navy;">
                    <h5 class="card-title" style="color: whitesmoke;">Returned</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{returned}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>