<!DOCTYPE html>
<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-default  mb-3" id="total">
                <div class="card-header" style="background-color: navy;">
                    <h5 class="card-title" style="color: whitesmoke;">Total</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_licenses}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-default  mb-2" id="non-declared">
                <div class="card-header" style="background-color: navy;">
                    <h5 class="card-title" style="color: whitesmoke;">Submitted(Found)</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{non_declared}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-default  mb-2" id="declared">
                <div class="card-header" style="background-color: navy;">
                    <h5 class="card-title" style="color: whitesmoke;">Lost</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{lost}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>